.menu{
    background: #bf9b7a;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu a{
    color: #403027;
    margin: 10px;
    text-decoration: none;
}

.menu img{
    position: absolute;
    border-top: 0;
    margin-top: 0;
}

.carrinho strong{
 background: white;
 border-radius: 3px;
 padding: 5px;
}